@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F4F6F8;
    --foreground: #0F172A;
}

body {
    color: var(--foreground);
    background: var(--background);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
    border-radius: 0px !important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom, 24px);
}

/* Industrial striped background pattern for header */
.industrial-stripes {
    background-image: repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.03),
            rgba(255, 255, 255, 0.03) 10px,
            transparent 10px,
            transparent 20px);
}